@import url(//db.onlinewebfonts.com/c/d3a85c6c38eeb78ad624d05db74526bd?family=Neue+Plak+W01); /**************/
@import url(//db.onlinewebfonts.com/c/981d67528edb4fba5f7bcf3f1bf92a92?family=NeuePlakTextW04-Regular);/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

button, summary {
	cursor: pointer;
}
button.zwart {
    color:white;
    background: black;
    font-family: "NeuePlakTextW04-Regular", sans-serif ;
    border-color:black;
    height:45px;
    font-size:18px;
    padding:5px 5% 10px 5% ;
    border-radius: 5px;
}
button.doorzichtig {
    color:white;
    background-color: transparent;
    font-family: "NeuePlakTextW04-Regular", sans-serif ;
    border-color:white;
    height:45px;
    font-size:16px;
    padding:5px 15px 10px 15px ;
    border-radius: 5px;
}
header button {
    color:black;
    background-color: orangered;
    font-family: "NeuePlakTextW04-Regular", sans-serif ;
    border-color:orangered;
    height:45px;
    font-size:16px;
    padding:5px 5px 10px 5px ;
    width:150px;
    border-radius: 5px;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
    --color-kaart:white;
    --section-achtergrond: url(/images/sectionbg.png);
    --section2-achtergrond: url(/images/sectiestadium.jpg);

}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

body {
  color:var(--color-text);
  background-color:var(--color-background);
}
p {
    font-family: "NeuePlakTextW04-Regular", sans-serif ;

}
h1  {
    text-transform:uppercase;
    font-family: "Neue Plak W01", sans-serif ;

}
h2 {
    text-transform:uppercase;
    font-family: "Neue Plak W01", sans-serif ;

}
h3 {
    font-family: "Neue Plak W01", sans-serif ;
    text-transform:uppercase;
}
header li {
    font-family: "NeuePlakTextW04-Regular", sans-serif ;
    display:inline;
    margin: -100px 10px 20px 10px;

}

header button {
    float:right;
}
/* 1e section css
 */
section:first-of-type(1)  {
    display: flex;
background-color: #144162;
    overflow: hidden;

}


section:first-of-type p  {
    color:white;
    padding:10px;
    font-size: 24px;
    font-family: "Neue Plak W01",sans-serif;

}


/* 2e section css
 */


section:nth-of-type(2)  {
    display: block;
    text-align: center;
    padding-bottom:50px ;
    padding-top:50px;
}
/* onderstaande code heb ik via w3schools gevonden, en aangepast zonder erbij na te denken,
en het werkt wel i guess
 */
section:nth-of-type(3)   {



}
section:nth-of-type(3) {
    background-image: url(/images/sectionbg.png);

}
section:nth-of-type(3)  > h2 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 2em;
}
/* einde wankelcode */

section:nth-of-type(3) > article {
    display:grid;
    background-color:var(--color-kaart);
    width:400px;
    height:500px;
    margin-left: auto;
    margin-right: auto;
}
section:nth-of-type(3)  > article > img {
    width:100%;
}
section:nth-of-type(3)  > article > p {
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
}
section:nth-of-type(3)  > article > h3 {
    text-align: center;
}

section:nth-of-type(3)  {
    margin-top: -10px;
    padding-top: 150px;
    padding-bottom: 100px;

    background-image: url(/images/sectionbg.png);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

}
section:nth-of-type(4) h3  {
    font-size:30px;
}

section:nth-of-type(4){
    background-image: url(/images/sectionbg.png);
    margin-top:-30px;
    font-size:25px;
    text-align: center;
    padding-bottom:50px;
}

section:nth-of-type(4){

}

section:nth-of-type(5)  {
    background-image: url(/images/sectiestadium.jpg);
    padding-top: 150px;
    padding-bottom: 100px;
    width:100%;
    padding-right: 100px;
}
section:nth-of-type(5)  > p{
    color: white;
    text-align: center;

}
section:nth-of-type(5) > h2{
    text-align: center;
    color: white;

}
section:nth-of-type(6)  {
    background-image: url(/images/sectionbg.png);
    width:100%;
    display:flex;
    padding:50px;

}
section:nth-of-type(6) > section:nth-child(2)  > img{
    width:100%;
}
section:nth-of-type(6)  p{
    color:black;
}

section:nth-of-type(7) > section:nth-child(1) {
    background-color: black;
    padding-top:10px;
    padding-bottom:10px;
}
section:nth-of-type(7) > section:nth-child(1) > p {
    color: white;
    padding-top:10px;
    padding-bottom:10px;
    text-align: center;
}


